.card {
  background: #fff;
  border-radius: 2px;
  height: 200px;
  margin: 1rem;
  position: relative;
  width: 200px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
}

.card>.img-container {
  overflow: hidden;
  height: 200px;
  background: rgb(250, 159, 94);
}

.card>.img-container>img {
  width: 45%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card:hover{
  border-color: blue;
}

.card>.img-container>img:hover {
  width: 50%;
  
}